# Copy this to .env and fill in your values
# Get these from your credentials.json service account file

GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1EclGQA4RZMrAKcYHfYclZnA_NzuzgKmPCqhq0cYA3NE
